@import url(./__language-toggle-link/header__language-toggle-link.css);
@import url(./__language-toggle/header__language-toggle.css);
@import url(./__logo/header__logo.css);

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media screen and (max-width: 720px) {

  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
}