.comments__image {
  margin-bottom: 42px;
  height: 98px;
  width: 98px;
  border-radius: 50%;
}



@media screen and (max-width: 900px) {
  
  .comments__image {
    margin-bottom: 16px;
  }

}