.content-title {
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 48px;
}

@media screen and (max-width: 900px) {
  
  .content-title {
    font-size: 42px;
    line-height: 46px;
    max-width: 600px;
    margin-bottom: 24px;
  }

}

@media screen and (max-width: 720px) {
  
  .content-title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }

}

